<a href="https://colab.research.google.com/github/MatthewHMullen/Matthew-Mullen-work/blob/main/ClassWorkExamples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Rock Paper scissors game

In [ ]:
import random
pc_choice = random.choice(['Rock','Paper','Scissors'])

userinput = input("Do you want to play Rock Paper Scissors? y/n: ")

while userinput == "y" :

  userchoice = inpuserinput = input("Choose Rock, Paper, or Scissors: ")

  if userchoice == pc_choice:
    print('Its a Tie')

  elif ((userchoice == "Rock" and pc_choice == "Scissors") or
        (userchoice == "Scissors" and pc_choice == "Paper") or
        (userchoice == "Paper" and pc_choice == "Rock")):
    print ('You Win!')

  else:
    print('Computer Wins :(')

  userinput = input("Do you want to play Rock Paper Scissors again? y/n: ")

else:
  print("Play again soon!")

Turtle example with loop

In [ ]:
!pip install ColabTurtlePlus

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

color('green','blue')
begin_fill()
jumpto(0,0)

for var in range(4):
  forward(100)
  left(90)


end_fill()

Parking Garage Fee Code

In [ ]:

for hour in range (1,9):
  hourly_fee = 2.50
  base_fee = 5.0
  fee = base_fee + hour * hourly_fee
  if fee < 10.0:
    fee = 10.0
  elif fee > 20.0:
    fee = 20.0
  print(hour, 'hrs', '= $',fee)

Movie theater manager in class example: Advertising Cost

In [ ]:
for ad_cost in range (0,201,25):
  fixed_cost = 200
  base_att = 20
  ticket_price = 10
  add_att = 2 * round(ad_cost ** .5)
  profit = (base_att * ticket_price) + (add_att * ticket_price) - fixed_cost - ad_cost
  print(ad_cost, profit)

Code a calculator

In [ ]:
while True:
  num1 = float(input("First Number: "))
  operator = input("Mathematical operator: ")

  if operator == 'break':
    break

  num2 = float(input("Second Number: "))

  if operator == '+':
    print(num1 + num2)

  elif operator == '-':
    print(num1 - num2)

  elif operator == '*':
    print(num1 * num2)

  elif operator == '/':
    print(num1 / num2)

  elif operator == '//':
    print(num1 // num2)

  elif operator == '%':
    print(num1 % num2)

  elif operator == '**':
    print(num1 ** num2)

  else:
    print('invalid operator:',operator)

Indexing/slicing

In [ ]:
s = 'This is a test'

#slicing
this_word = s[:4]

test_word = s[10:]

print(this_word, test_word)

#decremental
print(s[13], s[len(s) - 1], s[-1])

#negative indexes
print(s[11], s[-3])

Find the date using indexes/slicing

In [ ]:
date = input("Input a date, MM/DD/YYYY: ")

month = int(date[:2])
day = int(date[3:5])
year = int(date[6:])

print()
print('The month is:', month)
print('The day is:', day)
print('The year is:', year)

Finding common charachters between strings

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for index in range(len(s1)):
  if s1[index] in s2:
    print(s1[index])

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for char in s1:
  if char in s2:
    print(char)

Adding user value to a list

In [ ]:
L = []

num = int(input('Enter a value: '))

while num != 0:
  L.append(num)

  num = int(input('Enter another value: '))

L

Turn lists of months and values into dictionary

In [ ]:
months = {}

num = [1,2,3,4,5,6,7,8,9,10,11,12]
name = [ 'Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

for i in range(len(num)):
  months[num[i]] = name[i]

print(months)

In [ ]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = [ 'Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

for num in numbers:
  months[num] = names[num-1]

print(months)

Recursive Problems (Factorial of an integer)

In [ ]:
def factorial(n):
  if n == 1 or n == 0:
    return 1
  else:
    return n * factorial(n-1)

factorial(6)

Recursive Problems (perform a string reversal)

In [9]:
def stringRev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + stringRev(s[:-1])


stringRev('orange')

'egnaro'